[submodule "front"]
	path = front
	url = git@github.com:Vilos92/dotfiles-front.git
	update = none
[submodule "greg-zone"]
	path = greg-zone
	url = git@github.com:Vilos92/greg-zone.git
	update = none
[submodule "gmux"]
	path = gmux
	url = https://github.com/Vilos92/gmux.git
